<h1>Blep!</h1>

<p>Hi, <%= @entry.habit.user_name %>! This is your daily check-in for your <%= @entry.habit.habit_name %> habit. Whether you did this habit today or not, just click the appropriate link below.</p>

<h2><span class="field-name">Habit:</span><span class="field-value"><%= @entry.habit.habit_name %></span></h2>
<h2><span class="field-name">Date:</span><span class="field-value"><%= @entry.for_date.strftime("%A, %b %d") %></span></h2>

<%= link_to "Did it! :)", log_success_for_entry_url(@entry.id), class: "entry-link success" %>
<%= link_to "Didn't do it! :(", log_failure_for_entry_url(@entry.id), class: "entry-link failure" %>
