<section id="tracking-calendar">
  <h2><%= @habit.habit_name %></h2>

  <% if @habit.entries.empty? %>
    <h3>Thanks for confirming your habit, <%= @habit.user_name %>!</h3>
    <p>You'll receive your first email later today, asking if you did the habit today or not. Over time, this page will become a calendar showing you how consistent you've been.</p>
  <% else %>
    <h3>
      <span class="user-name"><%= @habit.user_name %></span>
      is tracking this daily habit.
    </h3>
  <% end %>

  <% @habit.entries.order(:for_date).each do |entry| %>

    <div class="calendar-entry <%= entry.successful ? 'success' : 'failure' %>">
      <div class="month-name"><%= entry.for_date.strftime("%B") %></div>
      <div class="day-of-month"><%= entry.for_date.day %></div>
    </div>

  <% end %>
</section>
