<h1>Blep!</h1>

<%= form_for @habit,
            url: {action: "create"},
            html: {id: "new-habit-form"} do |f| %>
  <h2>Start a new daily habit</h2>
  <legend>You’ll get daily emails asking whether or not you did your habit that day. We’ll use your answers to build up a calendar that tracks your consistency.</legend>

  <% if @habit.errors.any? %>
    <div class="errors">
      <h3>Whoops!</h3>
      <ul>
        <% @habit.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-row">
    <label for="habit_habit_name">Habit Name</label>
    <%= f.text_field :habit_name, placeholder: "Exercise", required: true %>
  </div>

  <div class="form-row">
    <label for="habit_email">Email</label>
    <%= f.email_field :email, placeholder: "casey@example.com", required: true %>
  </div>

  <div class="form-row">
    <label for="habit_user_name">Your Name</label>
    <%= f.text_field :user_name, placeholder: "Casey", required: true %>
  </div>

  <div class="form-row">
    <%= f.submit "Submit" %>
  </div>
<% end %>
