<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>habits.email: simple daily habit tracking</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <div id="page-container">
      <header>
        <em>Early Alpha</em> — This app doesn't even have a name yet!
      </header>

      <div class="content">
        <%= yield %>
      </div>

      <footer>
        <div class="created-by">
          &copy; 2016 Casey Brant
        </div>

        <div class="contact">
          <span class="twitter">
            <a href="https://twitter.com/basecase">
              <%= render partial: "svg/twitter_svg", locals: {
                width: 35,
                height: 35 } %>
            </a>
          </span>

          <span class="email-me">
            <a href="mailto:casey@caseybrant.com">
              <%= render partial: "svg/email_svg", locals: {
                width: 35,
                height: 35 } %>
            </a>
          </span>
        </div>
      </footer>
    </div>
  </body>
</html>
